! Use a truetype font and size.
xterm*allowBoldFonts:     true
xterm*allowWindowOps:     true
xterm*boldMode:           false
xterm*charClass:          33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
xterm*cursorBlink:        false
xterm*cutNewline:         true
xterm*faceName:           consolas
xterm*faceSize:           12
xterm*fastScroll:         true
xterm*fullscreen:         false
xterm*internalBorder:     1
xterm*jumpScroll:         true
xterm*keepSelection:      true
xterm*loginShell:         true
xterm*metaSendsEscape:    true
xterm*multiScroll:        true
xterm*omitTranslation:    fullscreen
xterm*on4Clicks:          group
xterm*on5Clicks:          page
xterm*saveLines:          1024000
xterm*scaleHeight:        1.0
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*selectToClipboard:  true
xterm*SimpleMenu*font:    -*-clean-*-*-*-*-*-*-*-*-*-*-iso8859-2
xterm*termName:           xterm-256color
xterm*title:              xterm
xterm*veryBoldColors:     14
xterm*VT100*geometry:     130x40

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
